.DS_Store
node_modules/
dist/
.env
.env.*
.vercel
.env*
public/index.html
public/about.html
public/blog.html
public/resources.html
public/blueprint.html
public/styles.css
public/scripts.js
public/5.png
public/Style Board Clinical Physiques.png
